.mealStartPage{
    padding-top: 50px;
    display: grid;
    justify-content: center;
}

.mealWith{
    display: flex;
    justify-content: center;
}
.search{
    padding-top: 50px;
    display:grid;
    grid-template-columns:[column-start] 150px [column-start] 150px;
    /* grid-template-rows: [row-start] 200px; */
    /* align-content: center; */
    justify-content: center;
}
.searchInput {
    margin-top: 22px;
    height: 10px;
}
.radius{
    display:grid;
    grid-template-columns:[column-start] 150px [column-start] 150px;
    /* grid-template-rows: [row-start] 200px; */
    /* align-content: center; */
    justify-content: center;
}
.radiusInput {
    margin-top: 22px;
    height: 10px;
}
.mealButtons{
padding-top: 100px;
display: grid;
gap: 20px;
justify-content: center;
}
.chowDown{
width: 120px;
height:90px
}
